<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    
    <div class="w-full h-full p-10 text-white">
        <div class="flex items-center gap-5">
            <h1 class="text-3xl tracking-tighter mb-3">All users</h1>
             <a href="/user/register" class="text-blue-500">Register user</a>
        </div>
        <div class="users flex gap-4">
            <% if(users.length > 0){%>
                <% users.forEach(function(user){ %>
                <div class="w-72 p-4 bg-zinc-800 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-red-500 overflow-hidden">
                        <img class="h-full w-full object-cover" src="<%= user.url%>" alt="">
                    </div>
                    <h3 class="text-2xl tracking-tighter mt-5 ml-2"><%= user.username%></h3>
                    <h2 class="text-zinc-500 ml-2"><%= user.email%></h2>
                    <div class="flex ml-2 gap-3 mt-10 ">
                        <a class="text-zinc-200" href="/user/edit/<%= user._id%>">Edit user</a>
                        <a class="text-red-200" href="/user/delete/<%= user._id %>">Delete user</a>
                    </div>
                </div>
                <% })%> 
            <%} else { %>
                    <h2 class="text-zinc-500">No users</h2>
                <% }%>
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</body>
</html>